/* custom style for the weather dashboard banner on top */
.dashboard {
    background-image: linear-gradient(to right, blue, darkblue);
    font-weight: bold;
}

/* custom style for the search history cities/buttons */
.history-btn {
    background-color: lightgray;
}
/* hover effecs when scrolling over city in search history */
.history-btn:hover {
    background-color: darkgrey;
}

/* Styles for the UV index */
.uv-favorable{
    padding: 0 5px 0 5px;
    background-color: green;
    border-radius: 5px;
    color: white;
}

.uv-moderate{
    padding: 0 5px 0 5px;
    background-color: orange;
    border-radius: 5px;
    color: white;
}

.uv-severe{
    padding: 0 5px 0 5px;
    background-color: red;
    border-radius: 5px;
    color: white;
}

/* Custom styles for the 5-day forcast cards */
.forCard {
    background-color: #5d6f7e;
    color: white;
    min-height: 200px;
}

