.dashboard {
    background-image: linear-gradient(to right, blue, darkblue);
    font-weight: bold;
}

.history-btn {
    background-color: lightgray;
}

.uv-favorable{
    padding: 0 5px 0 5px;
    background-color: green;
    border-radius: 5px;
    color: white;
}

.uv-moderate{
    padding: 0 5px 0 5px;
    background-color: orange;
    border-radius: 5px;
    color: white;
}

.uv-severe{
    padding: 0 5px 0 5px;
    background-color: red;
    border-radius: 5px;
    color: white;
}

.forCard {
    background-color: #39454f;
    color: white;
    min-height: 200px;
}